[Unit]
Description=x-ui Service
After=network.target
Wants=network.target

[Service]
Environment="XRAY_VMESS_AEAD_FORCED=false"
Type=simple
WorkingDirectory=/usr/local/ilyass-xui/
ExecStart=/usr/local/ilyass-xui/ilyass-xui
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
